.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcon{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#modal-modal-title{
    display: flex;
    justify-content: flex-end;
}